@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Begin Reset */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* End Reset */

/* Utility Classes */
.nowrap{
    white-space: nowrap;

}

.offscreen{
    position: absolute;
    left: -100000px;

}

/* End Utility Classes */

body{
    font-family: "Nunito Sens" , sans-serif;
    min-height:110vh ;
    /* background-color: aliceblue; */
    background-image: url(1.bubbles.png),linear-gradient( to top ,rgb(75, 148, 208),white,pink,rgb(204, 68, 68));
    /* background-repeat: repeat-y,no-repeat; */
    /* background-position: right center; */
    background-size: 20%,auto;
}

.container{
    background-color: aquamarine;
    background-image: url('6.scenic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.hero{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color:hsla(0, 100%, 50%, 0.285);
    align-items: center;
    justify-content: center;
    justify-items: center;
   
    
    /* background-color: rgb(134, 153, 23); */
   
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */


}



.h1{
    font-size: 500%;
    color: rgb(255, 255, 255);
    text-shadow: 50px 20px 10px black;
    /* background-color: hsla(0, 0%, 0%, 0.897);
    padding:0.25rem ;
    border-radius: 50px;
   */


}

.profile-pic-figure{
    width: 35%;
    
}

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;


}

.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid maroon;
}

/* .example  img{
    width: 25%;
    height: auto;
}
 */

 .clip{
    font-weight: 800;
    font-size: 10rem;
    text-align: center;
    background-image: url(6.scenic.png);
    background-size: 100%;
    text-transform: uppercase;
    background-repeat: repeat;
    -webkit-background-clip: text;
    /* color:hsla(0, 0%,0% ,0.30); */
    color: transparent;
    background-clip: text;
 }
